<style>
.personal-data{
  color: black;
  opacity: 0.7;
}
.personal-data:hover{
  color: black;
  opacity: 1;
}
</style>
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/jgarg8440" class="personal-data"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/gargj/" class="personal-data"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; WanderLust </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
